body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}


/*Setup*/
html,
body {
  padding: 0;
  margin: 0;
}
html,
body,
#mapid {
  height: 100%;
  width: 100%;
}

/*Legend specific*/
.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}

.button {
  transition-duration: 0.4s;
  border-radius: 15px;
  width:9%; 
  height: 1.5cm; 
  font-size: 0.9cm; 
  margin: 10px;
  box-shadow: 0 9px #999;
  border: none;
  background-color: #99CED4;
  font: Tahoma;
}

.button:hover {
  background-color:#EE86B7;
  color: black;
  transform: scale(1.1,1.1);
}

.button:active {
  transform: translateY(4px);
  background-color:#BAED91;
  border: none;
}

.containerbutton {
  margin-right:auto;
  margin-left:auto;
  padding-left:15px;
  padding-right:15px;
  text-align:center;
  align-content:center;
}

.headertext {
color: 	#333333;
margin-right:30%;
margin-left:30%;
width: 40%;
text-align: center;
font-size: 1.5cm;
font: Tahoma;
border-radius: 15px;
border: none;
background-color: #99CED4;
box-shadow: 0 9px #999;
margin-bottom: 25px;
margin-top: 25px;
}

.buttonbig {
  transition-duration: 0.4s;
  border-radius: 15px;
  width:45%; 
  height: 2.5cm; 
  font-size: 1.5cm; 
  margin: 10px;
  box-shadow: 0 9px #999;
  border: none;
  background-color: #99CED4;
  font: Tahoma;
}

.buttonbig:hover {
  background-color:#EE86B7;
  color: black;
}

.buttonmenu {
  transition-duration: 0.4s;
  border-radius: 15px;
  width:11%; 
  height: 1.5cm; 
  font-size: 0.9cm; 
  margin: 10px;
  box-shadow: 0 9px #999;
  border: none;
  background-color: #99CED4;
  font: Tahoma;
}

.buttonmenu:hover {
  background-color:#EE86B7;
  color: black;
  transform: scale(1.1,1.1);
}

.buttonmenu:active {
  transform: translateY(4px);
  background-color:#BAED91;
  border: none;
}